<section class="main pt-4">
  <div class="container d-flex align-items-center p-3">
            <div class="row w-100">
              <div class="col-1"></div>
              <div class="col-8">
                <h5 class="card-title mb-5 fs-1 fw-bold title">Скидки на травяные чаи</h5>
                <p class="mb-5 text">Узнай все подробности, заполнив заявку</p>
                <button type="button" class="btn btn-primary px-5 btn-text hvr-grow">Заполнить</button>
              </div>
            </div>
          </div>
</section>

<section class="questions">
  <div class="container pb-5">
    <h2 class="fw-bold text-center my-5 fs-2 title-2">Ответы на часто задаваемые вопросы</h2>
    <div class="row justify-content-center">
      <div class="col-8">

        <div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
          <div ngbAccordionItem="first" class="mb-3 border-0">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton class="bg-primary text-white">Собираете ли вы подарочные боксы?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем на ваше усмотрение и стоимость!
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem="second" class="mb-3 border-0">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton class="bg-primary text-white">Сколько у вас разновидностей чая?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Очень много!
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem="third" class="mb-3 border-0">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton class="bg-primary text-white">В какой срок осуществляется доставка?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  В течении 30 минут!
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem="fourth" class="mb-3 border-0">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton class="bg-primary text-white">У вас обновляется ассортимент?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Обновляется каждый раз когда появляется новый вкус!
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem="fifth" class="border-0">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton class="bg-primary text-white">Какого объема у вас пачки чая?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Объём выбираете вы сами!
                </ng-template>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="popup" id="popup">
  <div class="popup-content">
    <div class="popup-text">Посмотрите наши чайные коллекции.</div>
    <button class="popup-btn btn btn-primary px-1 btn-text hvr-grow" [routerLink]="'/products'">Смотреть</button>
    <button class="popup-btn btn btn-primary px-1 btn-text hvr-grow" (click)="closePopup()">Отмена</button>
  </div>
</div>
